<div class="terms-title">
    Términos y condiciones
</div>
<div class="terms-text-title">
    Formas de Pago
</div>
<div class="terms-sub">Tarjeta de Crédito / Débito
Los medios de pagos que se pueden utilizar para comprar son: Visa, Mastercard, Diners y American Express, ingresando los dígitos de la tarjeta, la clave CVV (que es confidencial), correo electrónico y nombre de la tarjeta.
Además puede realizar el pago con tarjeta internacional con previa validación de Score Crediticio definido por la marca.
La aceptación de una compra bajo esta modalidad implica la aceptación del Cliente de los términos y condiciones que aplican. El Cliente que no se encuentre de acuerdo con los términos mencionados deberá abstenerse de realizar la operación de compra.
Los aspectos relativos al funcionamiento de las tarjetas de crédito o débito, están sujetos al contrato existente entre el Cliente y el Banco emisor de su tarjeta de crédito o débito, sin que CLARO tenga responsabilidad alguna sobre los aspectos señalados en dichos contratos.
CONDICIONES POR LAS QUE NO SE APLICAN LOS PAGOS
</div>
<button class="example-full-width term-close-btn" (click)="close()" mat-flat-button>Acepto los términos y condiciones</button>