<div class="paquetes-deshabilitados" *ngIf="!activarRecargas">
    <p class="paso">Paso 1</p>
    <p class="titulo">Selecciona o ingresa el monto</p>

    <div class="paquetes-box">
        <div class="paquete-card" *ngFor="let monto of montosMock">
            <div class="nombre">S/ {{monto.monto}}</div>
            <div class="vigen">Vigencia</div>
            <div class="vigen" *ngIf="monto.vigencia === '1'">x {{monto.vigencia}} día</div>
            <div class="vigen" *ngIf="monto.vigencia !== '1'">x {{monto.vigencia}} días</div>
        </div>
    </div>
    <div class="input-box">
        <p class="texto-input">También puede ingresar otro monto</p>
        <div class="left-box">
            <input class="input-num" disabled>
            <button class="buton-ingresar" disabled>Confirmar</button>
        </div>
        <p class="texto-input">Monto minímo: S/ 3.00</p>
    </div>
</div>

<div class="paquetes-habilitados" *ngIf="activarRecargas && listaProductos.length > 0">
    <p class="paso">Paso 1</p>
    <p class="titulo">Selecciona o ingresa el monto</p>
    <div class="paquetes-box">
        <div class="paquete-card"  id="prod_{{listPaquete.idProductoDeCompra}}" (click)="escogerCard(listPaquete)" *ngFor="let listPaquete of listaProductos | filtraOtros">
         <div *ngFor="let listDesc of listPaquete.listaCaracteristicasProducto" > 
             <div class="{{listDesc.estilo}}">{{listDesc.nombre}}</div>
        </div>
    </div> 
    </div>
    <div id="input-paquete" class="input-box">
        <p class="texto-input">También puede ingresar otro monto</p>
        <div class="left-box input-icon" >
            <input id="inputMonto" class="input-num" maxlength="3" (input)="onInput($event)" autocomplete="false">
            <i>S/</i>
            <button class="buton-ingresar" (click)="confirmarMonto()">Confirmar</button>
        </div>
        <p class="texto-input" id="minMaxMonto">Monto minímo: S/ 3.00</p>
    </div>
</div>
