.input-icon {
    position: relative;
  }
  
  .input-icon > i {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 20%;
    pointer-events: none;
    width: 25px;
    text-align: center;
      font-style: normal;
      color: black;
      font-size: 14px;
  }
  
  .input-icon > input {
    padding-left: 25px;
      padding-right: 0;
      text-align: left;
  }

.paquetes-deshabilitados {
    padding: 32px 0px 60px 0px;
    max-width: 766px;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;

    @media screen and (max-width: 600px) {
        padding: 32px 16px 16px 16px;
        height: auto;
        margin-left:0px;
    }

    .titulo {
        font-size: 12px;
        font-weight: bold;
        color: #595959;
    }

    .paquetes-box {
        width: 100%;
        display: inline-block;

        .paquete-card {
            height: 68px;
            float: left;
            width: 30%;
            margin-right: 3%;
            border-radius: 10px;
            box-shadow: 0 0 4px 0 #d2d9e1;
            border: solid 1px rgba(0, 0, 0, 0.03);
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            padding: 1% 0px;
            margin-top: 16px;
            background-color: #D2D9E1;

            .vigen {
                font-size: 10px;
                color: #abb7c4;
            }

            .nombre {
                color: #abb7c4;
            }

            .titulo_gris {
                font-size: 10px;
                color: #abb7c4;
            }

            .titulo_rojo {
                color: #abb7c4;
            }

            @media screen and (max-width: 600px) {
                width: 47%;
                margin-top: 16px;
                padding: 5% 0px;
                height: 116px;
            }
        }
    }

    .input-box {
        width: 30%;
        border-radius: 10px;
        background-color: #D2D9E1;
        border: solid 1px rgba(0, 0, 0, 0.03);
        box-shadow: 0 0 4px 0 #d2d9e1;
        margin-top: 16px;
        font-size: 10px;
        padding: 12px 20px;
        color: #abb7c4;

        @media screen and (max-width: 600px) {
            width: 100%;
        }

        .texto-input {
            margin: 0px;
        }

        .left-box {
            margin: 4px 0;

            .input-num {
                border: none;
                border-radius: 4px;
                margin-right: 8px;
                margin-bottom: 10px;
                width:100%;

                &:disabled {
                    background-color: #ffffff;
                }
            }
    
            .buton-ingresar {
                width: 60px;
                height: 16px;
                border-radius: 20px;
                font-size: 10px;
                font-weight: 500;
                text-align: center;
                border: none;
                color: #abb7c4;
                background-color: transparent;
                cursor: default;
            }
        }
    }
}

.paquetes-habilitados {
    padding: 32px 0px 32px 0px;
    max-width: 776px;
    width: 100%;
    margin-bottom: 32PX;
    border-bottom: 1px solid #e3e3e3;

    @media screen and (max-width: 600px) {
        padding: 32px 16px 16px 16px;
        height: auto;
        margin-left:0px;
    }

    .titulo {
        font-size: 12px;
        font-weight: bold;
        color: #595959;
    }

    .paquetes-box {
        width: 100%;
        display: inline-block;

        .paquete-card {
            height: 68px;
            float: left;
            width: 30%;
            margin-right: 3%;
            border-radius: 10px;
            box-shadow: 0 0 4px 0 #d2d9e1;
            border: solid 1px rgba(0, 0, 0, 0.03);
            text-align: center;
            font-weight: bold;
            padding: 5px 0px;
            margin-top: 16px;
            background-color: #FFFFFF;
            cursor: pointer;

            .vigen {
                font-size: 10px;
                color: #212121;
            }

            .nombre {
                color: #da272c;
                font-size: 16px;
            }

            .titulo_rojo {
                color: #da272c;
                font-size: 16px;
            }

            .titulo_gris {
                font-size: 10px;
                color: #212121;
            }

            @media screen and (max-width: 600px) {
                width: 47%;
                margin-top: 16px;
                padding: 5% 0px;
                height: 116px;
            }
        }
    }

    .input-box {
        width: 30%;
        border-radius: 10px;
        background-color: #ffffff;
        border: solid 1px rgba(0, 0, 0, 0.03);
        box-shadow: 0 0 4px 0 #d2d9e1;
        margin-top: 16px;
        font-size: 10px;
        padding: 12px 20px;
        color: #212121;

        @media screen and (max-width: 600px) {
            width: 100%;
        }

        .texto-input {
            margin: 0px;
        }

        .left-box {
            margin: 4px 0;

            .input-num {
                border: solid 1px rgba(0, 0, 0, 0.2);
                border-radius: 4px;
                margin-right: 8px;
                margin-bottom: 10px;
                font-size: 14px;
                width:100%;
            }
    
            .buton-ingresar {
                width: 78px;
                height: 25px;
                border-radius: 20px;
                font-size: 13px;
                font-weight: 500;
                text-align: center;
                border: none;
                color: #ffffff;
                background-color: #2197ae;
            }
        }
    }
}

.paso {
    font-size: 12px;
    font-weight: bold;
    color: #abafb0;
    margin: 0 0 4px 0;
}

.titulo {
    font-size: 17px;
    color: #595959;
    margin: 0 0 16px 0;
}