<div class="div_servicios">
    <p class="texto_servicio">Si deseas contratar nuevos servicios o comprar equipos</p>
    <button class="button button1" (click)="goToLink()">Visita Mi Claro Web</button>
</div>