<footer class="footerClaro" [hidden]="!mostrarContenido">
    <div class="containerClaro footer-container-claro centering">
        <div class="claro_logo"></div>
        <div class="letters">
            Todos los derechos reservados,  Claro {{year}}
        </div>
    </div>
</footer>