<nav class="navbar" id="nav-bar-claro" style="width: 100%; position: absolute; display: none; z-index: 10;" class="navbar"  [hidden]='!showFooter' >
    <div class="claro-logo"></div>
</nav>

<router-outlet></router-outlet>

<app-footer [mostrarContenido]='showFooter'></app-footer>