.productos-caja {
    display: inline-block;
    height: max-content;
    width: 100%;

    .paso {
        font-size: 12px;
        font-weight: bold;
        color: #abafb0;
        margin: 0 0 4px 0;
    }

    .titulo {
        font-size: 17px;
        color: #595959;
        margin: 0 0 16px 0;

        .verde {
            color: #2197ae !important;
            text-decoration: none;
        }
    }

    .caja_recupera {
        width: max-content;
        height: fit-content;
        padding: 12px;
        background-color: #ffe9c6;
        border-radius: 10px;
        display: inline-block;
        margin-bottom: 20px;

        .info_box {
            height: 100%;
            margin: 2% 16px 0px 0;
        }

        .info_box, .texto_box {
            float: left;

            .info_icon {
                color: #aa5500;
              /*  width: 23px;
                height: 23px;
                background-repeat: no-repeat;
                background-position: 50%;
                border-radius: 50%;
                background-size: 100% auto;
                background-image: url(../../../../assets/img/icon_naranja.png);
                */
            }
            
            .text_bold {
                font-size: 12px;
                font-weight: bold;
                margin: 0px 4px 0px 4px;
                color: #aa5500;
             //   line-height: 1.29;
                font-stretch: normal;
                font-style: normal;
                text-align: left;

             
            }

            .text_norm {
                font-size: 12px;
                color: #aa5500;
              //  line-height: 1.29;
                margin: 0px 4px 0px 4px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                letter-spacing: normal;
                text-align: left;
  

            }


        }

        

        @media screen and (max-width: 540px) {
            width: 100%;

            .info_box {
                margin: 7% 16px 0px 0;


            }
            .texto_box {
                width: calc(100% - 40px);

                .text_bold {
                    font-size: 14px;
                   line-height: 1.29;
                }

                .text_norm {
                    font-size: 14px;
                    line-height: 1.29;
                }
            }

        }
    }

    .caja_recupera_1 {
        padding: 12px;
        background-color: #ffe9c6;
        border-radius: 10px;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .caja_recupera_2 {
        padding: 12px;
        background-color: #ffe9c6;
        border-radius: 10px;
        margin-left: 0px !important;
        margin-right: 0px !important;
        width: fit-content;
    }


    .info_box{
        color: #aa5500;
        display: flex;
        align-items: center;
    }
    .text_bold {
        font-size: 13px;
        font-weight: bold;
        margin: 0px 4px 0px 4px;
        color: #aa5500;
     //   line-height: 1.29;
        font-stretch: normal;
        font-style: normal;
        text-align: left;

     
    }

    .text_norm {
        font-size: 13px;
        color: #aa5500;
      //  line-height: 1.29;
        margin: 0px 4px 0px 4px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;


    }

    .prod-card {
        width: 182px;
        min-height: 152px;
        margin: 0 16px 16px 0;
        padding: 8px 12px;
        border-radius: 8px;
        border: solid 1px rgba(33, 33, 33, 0.03);
        box-shadow: 0 0 4px 0 #d2d9e1;
        background-color: #ffffff;
        float: left;
        cursor: pointer;
        position: relative;
        overflow:auto;
        
        p {
            font-family: Roboto;
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: 0.2px;
            color: #212121;
            text-align: left;
            margin: 0;
            min-height: 93px;

            @media screen and (max-width: 454px) {
                min-height: 90px; 
            }

            
        }

        .titulo_rojo {}

        .texto_small {
            font-size: 14px;
        }

        .bottom-items {

            .item-box {
                div {
                    height: 16px;
                    margin: 0 0 2px 0;
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.2px;
                    text-align: left;
                    color: #595959;
                }
                .titulo_gris {}

                .texto_small2 {
                    font-size: 11px;
                    min-height: 22px;
                }
                .texto_precio {
                    height: 23px;
                    margin: 2px 0 0 0;
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.4px;
                    text-align: left;
                    color: #595959;
                }
                .color_1_precio { color: #F5A623 }
                .color_10_precio { color: #DA1B68 }
                .color_2_precio { color: #1D87FA }
                .color_5_precio { color: #B6282D }
                .color_13_precio { color: #da272c }
                .color_80_precio { color: #63B847 }
                .color_15_precio { color: #B6282D }
                .color_11_precio { color: #F5A623 }
                .color_9_precio { color: #595959 }
                .color_22_precio { color: #595959 }
                .color_24_precio { color: #F5A623 }  
                .color_23_precio { color: #1d87fa }   
                .color_100_precio { color: #F5A623 }
                .color_25_precio { color: #EE2124 }   
                .color_26_precio { color: #1D87FA }   
                .color_29_precio { color: #F5A623 }
            }
        }

        @media screen and (max-width: 600px) {
            width: 138px;
            height: 152px;
            flex-grow: 0;
            padding: 8px 11px;
            margin: 0 6px 12px 0;

            p {
                font-size: 18px;
                line-height: normal;
            }

            .titulo_rojo {}

            .texto_small {
                font-size: 12px;
            }
    
            


            .bottom-items {
                .item-box {
                    .titulo_gris {}

                    .texto_small2 {
                        font-size: 9px;
                        min-height: 0px;
                    }

 
                }
            }

        }
    }

    .prod-card-gift {
        width: 278px;
        height: 158px;
        border-radius: 8px;
        border: solid 1px rgba(33, 33, 33, 0.03);
        box-shadow: 0 0 4px 0 #d2d9e1;
        background-color: #ffffff;
        float: left;
        margin: 0 16px 16px 0;
        position: relative;

        .imagen-gift {
            cursor: pointer;
            height: 126px;
            border-radius: 8px 8px 0 0;
            width: 100%;

            img { 
                height: 124px;
                border-radius: 6px 6px 0 0; 
            }
        }

        .precio-consideracion-box {
            height: 32px;
            color: #2197ae !important;
            font-weight: bold;
            width: 100%;
            line-height: 30px;
            font-size: 16px;
            border-radius: 0 0 8px 8px;

            .precio {
                float: left;
                padding-left: 5%;
            }

            .conside {
                cursor: pointer;
                float: right;
                padding-right: 5%;
            }
        }

        @media screen and (max-width: 600px) {
            width: 138px;
            height: 118px;
            padding: 12px;
            margin: 0 6px 16px 0;
        }
    }

    .prod-card-pelicula {
        width: 278px;
        height: 158px;
        border-radius: 8px;
        border: none;
        box-shadow: 0 0 4px 0 #d2d9e1;
        background-color: #ffffff;
        float: left;
        margin: 0 16px 16px 0;
        position: relative;
        padding-right: 1px;

        .imagen-pelicula {
            cursor: pointer;
            height: 124px;
            border-radius: 6px 6px 0 0;
            width: 100%;

            img { 
                height: 124px;
                border-radius: 6px 6px 0 0;
                width: 100%;
            }
        }

        .precio-consideracion-box {
            height: 32px;
            font-weight: bold;
            width: 100%;
            line-height: 30px;
            font-size: 16px;
            border-radius: 0 0 8px 8px;
            color: #000;

            .precio {
                float: left;
                padding-left: 5%;
            }

            .conside {
                cursor: pointer;
                float: right;
                padding-right: 5%;
                color: #2197ae !important;
            }
        }

        @media screen and (max-width: 600px) {
            width: 138px;
            height: 118px;
            padding: 12px;
            margin: 0 6px 16px 0;

             .imagen-pelicula {
                height: 84px;
                
                img {
                    height: 84px;
                }
            }

            .precio-consideracion-box {
                font-size: 12px;
                height: 30px;
            }
        }
    }

    .prod-card-musica {
        width: 278px;
        height: 158px;
        border-radius: 10px;
        border: none;
        box-shadow: 0 0 4px 0 #d2d9e1;
        background-color: #ffffff;
        float: left;
        margin: 0 16px 16px 0;
        position: relative;

        .imagen-musica {
            cursor: pointer;
            height: 124px;
            border-radius: 6px 6px 0 0;
            width: 100%;
            margin-top: -1px;

            .desktop { display: block; }
            .mobile { display: none; }

            img { 
                height: 124px;
                border-radius: 6px 6px 0 0;
                width: 100%;
                object-fit: cover;
            }
        }

        .precio-consideracion-box {
            height: 32px;
            font-weight: bold;
            width: 100%;
            font-size: 16px;
            border-radius: 0 0 8px 8px;
            line-height: 19px;
            letter-spacing: 0.4px;
            color: #212121;
            padding: 8px 0 0 0;

            .precio {
                float: left;
                padding-left: 5%;

                p {
                    float: left;
                    margin: 0 8px 0 0;
                }

                .not-bold {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.002em;
                    color: #595959;
                    padding-top: 4px;
                }
            }

            .conside {
                cursor: pointer;
                float: right;
                padding-right: 5%;
                color: #2197ae !important;
            }
        }

        @media screen and (max-width: 600px) {
            width: 136px;
            height: 114px;
            padding: 0px;
            margin: 0 6px 16px 0;

             .imagen-musica {
                height: 82px;

                .desktop { display: none !important; }
                .mobile { display: block !important; }
                
                img {
                    height: 82px;
                    object-fit: cover;
                }
            }

            .precio-consideracion-box {
                font-size: 12px;
                height: 32px;
                padding: 4px 0 0 0;
                line-height: 14px;
                
                .not-bold {
                    float: none !important;
                    padding-top: 0px !important;
                    line-height: 12px !important;
                    font-size: 10px !important;
                    letter-spacing: 0.002em !important;
                }

                .conside {
                    padding-top: 4px !important;
                }
            }
        }
    }

    .una-prod-box {
        .cambio {
            font-size: 12px;
            color: #2197ae;
            font-weight: 500;
            cursor: pointer;
            float: left;
            margin-top: 132px;
            height: 18px;
            margin-left: 48px;

            @media screen and (max-width: 600px) {
                float: right;
                margin-top: 98px;
            }
        }
    }

    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

#gift-card-info {
    border-top: solid 1px #d5d9df;
    margin-top: 24px;
    padding-top: 32px;

    .form-info {
        form {
            .form-group {
                width: 100%;
                display: inline-block;

                .titulo {
                    width: 10%;
                    float: left;
                    height: 56.56px;
                    padding-top: 13px;
                    margin-right: 16px;

                    @media screen and (max-width: 600px) {
                        height: 31.56px;
                        margin-bottom: 8px;
                        width: 100%;
                    }
                }

                .input-class {
                    width: 85%;

                    textarea {
                        height: 120px;
                    }
                }
            }
        }

        .mini-texto {
            font-size: 10px;
            text-align: right;
            padding-right: 24px;
            margin-top: -20px;
        }
    }
}

#gift-card-prod {
    @media screen and (max-width: 600px) {
        .prod-card-gift {
            padding: 0px;
            height: 90px;

            .imagen-gift {
                height: auto;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .precio-consideracion-box {
                font-size: 10px;
            }
        }
    }
}

#claro-video-prod {
    .prod-card-pelicula {
        @media screen and (max-width: 600px) {
            padding: 0px;
        }
    }
}

.modal-generico {

    .modal-white {
        max-width: 288px;
        min-height: 100px;
        padding: 24px 16px;

        .titulo-cerrar {
            margin-bottom: 20px;

            .titulo {
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 0.46px;
                color: #212121;
            }
        }

        .subti {
            font-size: 12px;
            color: #212121;
            margin-bottom: 16px;
        }

        .texto {
            font-size: 11px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #212121;
            text-align: left;
        }

        .verde-blanco {
            width: 180px;
            height: 40px;
            padding: 6px 30px;
            border-radius: 20px;
            background-color: #2197ae;
            color: #ffffff;
            border: none;
        }
    }

    #modalPeliculasDesk {
        padding: 40px;
        width: fit-content;
        max-width: unset;

        .cerrar {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%232197AE' fill-rule='evenodd' d='M16.8 15.6L15.4 17 12 13.4 8.4 17 7 15.6l3.6-3.6-3.5-3.6L8.5 7l3.5 3.6L15.6 7 17 8.4 13.4 12z'/%3E%3C/svg%3E%0A") no-repeat;
            height: 30px;
            width: 30px;
            background-size: 30px;
            position: relative;
            float: right;
            cursor: pointer;
        }

        .imagen-pop {
            height: 370px;
            width: 290px;
            float: left;
            margin-right: 50px;

            img {
                height: 370px;
                width: 290px;
            }
        }

        .info-pop {
            float: right;
            width: 340px;

            .titulo-1 {
                font-weight: 700;
                line-height: 20px !important;
                font-size: 14px;
                padding-top: 20px;
                margin: 0;
                text-align: left;
            }

            .titulo-2 {
                font-weight: 700;
                line-height: 20px !important;
                font-size: 14px;
                color: #2197ae !important;
                margin: 0;
                text-align: left;
            }

            .texto {
                padding-top: 15px;
                line-height: 20px !important;
                font-size: 14px;
                text-align: left;
            }

            .tabla {
                tr {
                    .izq {
                        color: #2197ae !important;
                        font-weight: bold;
                        line-height: 20px !important;
                        font-size: 14px;
                        text-align: left;
                        padding-bottom: 2px;
                    }

                    .der {
                        text-align: right;
                        line-height: 20px !important;
                        font-size: 14px;
                        padding-bottom: 2px;
                    }
                }
            }

            .verde-blanco {
                margin-top: 32px;
                width: 220px;
                height: 40px;
                padding: 6px 30px;
                border-radius: 20px;
                background-color: #2197ae;
                color: #ffffff;
                border: none;
            }
        }
    }

    #modalPeliculasMobile {
        padding: 16px;
        width: calc(100% - 20px);
        max-width: 336px;
        display: none;
        margin-top: 40px;

        .cerrar {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%232197AE' fill-rule='evenodd' d='M16.8 15.6L15.4 17 12 13.4 8.4 17 7 15.6l3.6-3.6-3.5-3.6L8.5 7l3.5 3.6L15.6 7 17 8.4 13.4 12z'/%3E%3C/svg%3E%0A") no-repeat;
            height: 30px;
            width: 30px;
            background-size: 30px;
            position: relative;
            float: right;
            cursor: pointer;
        }

        .verde {
            color: #2197ae !important;
            font-weight: 700;
        }

        .imagen-pop {
            height: 100px;
            width: 100%;
            margin-top: 30px;

            img {
                height: 100px;
                width: 100%;
            }
        }

        .info-pop {
            width: 100%;

            .titulo-1 {
                font-weight: 700;
                line-height: 20px !important;
                font-size: 14px;
                padding-top: 20px;
                margin: 0;
                text-align: left;
            }

            .titulo-2 {
                font-weight: 700;
                line-height: 20px !important;
                font-size: 14px;
                color: #2197ae !important;
                margin: 0;
                text-align: left;
            }

            .texto {
                padding-top: 15px;
                line-height: 20px !important;
                font-size: 14px;
                text-align: left;
            }

            .tabla {
                tr {
                    .izq {
                        color: #2197ae !important;
                        font-weight: bold;
                        line-height: 20px !important;
                        font-size: 14px;
                        text-align: left;
                        padding-bottom: 2px;
                    }

                    .der {
                        text-align: right;
                        line-height: 20px !important;
                        font-size: 14px;
                        padding-bottom: 2px;
                    }
                }
            }

            .verde-blanco {
                margin-top: 32px;
                width: 220px;
                height: 40px;
                padding: 6px 30px;
                border-radius: 20px;
                background-color: #2197ae;
                color: #ffffff;
                border: none;
            }
        }
    }

    #modalMusicaMobile {
        width: 288px;
        height: 461px;
        position: absolute;
        top: calc(50% - 230px);
        left: calc(50% - 144px);
        margin: 0px;
        padding: 0px;
        display: none;
        border-radius: 20px;

        .imagenMobile {
            border-radius: 20px 20px 0 0;

            img {
                width: 100%;
                height: 138px;
                object-fit: cover;        
                border-radius: 20px 20px 0 0;
            }

            .cerrar {
                background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6L18 18' stroke='%232197AE' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M18 6L6 18' stroke='%232197AE' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A") no-repeat;                width: 24px;
                width: 24px;
                cursor: pointer;
                position: absolute;
                top: 16px;
                right: 16px;
                height: 24px;
            }
        }

        .info {
            padding: 8px 16px 11px 16px;
            text-align: left;

            .titulo {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                color: #212121;
                margin: 0 0 2px 0;
            }

            .subtitulo {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 11px;
                line-height: 13px;
                letter-spacing: 0.4px;
                color: #2197AE;
                margin: 0 0 16px 0;
            }

            .parrafo {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;
                letter-spacing: 0.466667px;
                color: #212121;

                .primero {
                    margin: 0 0 8px 0;
                }

                .especifico {
                    margin-bottom: 4px;
                    min-height: 24px;

                    .check {
                        width: 24px;
                        height: 24px;
                        float: left;
                        margin-right: 8px;
                        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 17.0001L5 12.0001L6.41 10.5901L10 14.1701L17.59 6.58008L19 8.00008L10 17.0001Z' fill='%232197AE'/%3E%3C/svg%3E%0A") no-repeat;
                    }

                    .linea {
                        float: left;    
                        margin: 0px;
                        max-width: 224px;
                    }
                }

                .ultimo {
                    text-align: center;
                    margin: 16px 0px;
                }
            }

            .botonAdquirir {
                width: 240px;
                height: 40px;
                margin: 0 auto 12px auto;
                display: block;
                background-color: #2197AE;
                color: #fff;
                border: none;
                border-radius: 20px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.466667px;
            }

            .foot {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 9px;
                line-height: 11px;
                text-align: center;
                margin: 0px;

                .verde {
                    font-weight: 500;
                    color: #2197AE;
                }
            }
        }
    }

    #modalMusicaDesk {
        width: 760px;
        height: 450px;
        position: absolute;
        top: calc(50% - 225px);
        left: calc(50% - 380px);
        margin: 0px;
        padding: 0px;
        border-radius: 20px;
        max-width: 760px !important;

        .imagenMobile {
            float: left;
            border-radius: 20px 0 0 20px;
           
            img {
                width: 321px;
                height: 450px;
                border-radius: 20px 0 0 20px;
                object-fit: cover;
            }
        }

        .info {
            padding: 48px 16px 12px 48px;
            text-align: left;
            float: left;
            width: 439px;

            .cerrar {
                background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 6L18 18' stroke='%232197AE' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M18 6L6 18' stroke='%232197AE' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A") no-repeat;                width: 24px;
                cursor: pointer;
                position: absolute;
                top: 16px;
                right: 16px;
                height: 24px;
                width: 24px;
            }

            .titulo {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                color: #212121;
                margin: 0 0 4px 0;
            }

            .subtitulo {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.4px;
                color: #2197AE;
                margin: 0 0 24px 0;
            }

            .parrafo {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.466667px;
                color: #212121;

                .primero {
                    margin: 0 0 16px 0;
                }

                .especifico {
                    margin-bottom: 8px;
                    min-height: 28px;

                    .check {
                        width: 24px;
                        height: 24px;
                        float: left;
                        margin-right: 8px;
                        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 17.0001L5 12.0001L6.41 10.5901L10 14.1701L17.59 6.58008L19 8.00008L10 17.0001Z' fill='%232197AE'/%3E%3C/svg%3E%0A") no-repeat;
                    }

                    .linea {
                        float: left;    
                        margin: 0px;
                        max-width: 271px;
                    }
                }

                .ultimo {
                    text-align: left;
                    margin: 16px 0px 32px 0px;
                }
            }

            .botonAdquirir {
                width: 240px;
                height: 40px;
                margin: 0 auto 24px auto;
                display: block;
                background-color: #2197AE;
                color: #fff;
                border: none;
                border-radius: 20px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.466667px;
            }

            .foot {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 12px;
                text-align: center;
                margin: 0px;

                .verde {
                    font-weight: 500;
                    color: #2197AE;
                }
            }
        }
    }

    @media screen and (max-width: 765px) {
        #modalPeliculasDesk { display: none; }
        #modalPeliculasMobile { display: inline-block; }
        #modalMusicaDesk { display: none; }
        #modalMusicaMobile { display: inline-block; }
    }
}

.loading {
    margin-top: 20px;

    .loader {
        border: 7px solid #f3f3f3;
        border-radius: 50%;
        border-top: 7px solid #abafb0;
        border-bottom: 7px solid #abafb0;
        width: 30px;
        height: 30px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        display: inline-block;
    }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.color_1 { border: solid 2px #F5A623 !important; }
.color_10 { border: solid 2px #DA1B68 !important; }
.color_2 { border: solid 2px #1D87FA !important; }
.color_5 { border: solid 2px #B6282D !important; }
.color_13 { border: solid 2px #da272c !important; }
.color_80 { border: solid 2px #63B847 !important; }
.color_15 { border: solid 2px #B6282D !important; }
.color_11 { border: solid 2px #F5A623 !important; }
.color_9 { border: solid 2px #595959 !important; }
.color_22 { border: solid 2px #595959 !important; }
.color_24 { border: solid 2px #F5A623 !important; }
.color_23 { border: solid 2px #1d87fa !important; }
.color_100 { border: solid 2px #F5A623 !important; }
.color_25 { border: solid 2px #EE2124 !important; }
.color_26 { border: solid 2px #1D87FA !important; }
.color_29 { border: solid 2px #F5A623 !important; }

.contador
{
    position: absolute;
    bottom: 2px;
    right: 12px;
    font-size:12px;
    color:rgba(0,0,0,0.45);
}