@import '../../../base/variables';



.numero-capcha-box {
    max-width: 388px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    background: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    display: inline-block;
    


    &.inicio {
        padding: 24px 60px 32px 60px;
    }
    &.home {
        padding: 16px;
        max-width:none;
        .text-box {
            .text-inicio {
                text-align: left;
            }
        }
    }

    @media screen and (max-width: 600px) {
        &.inicio {
            padding: 40px 20px 32px 20px;
        }
    }

    .text-box {
        width: 100%;
        margin-bottom: 16px;

        .text-inicio {
            margin: 0;
            font-size: 10px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #525252;
        }
    }

    .movil-home-box {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;

        .boton-movil-home {
            width: 128px;
            height: 40px;
            background-color: #e3e3e3;
            color: #595959;;
            font-size: 14px;
            text-decoration: none;
            cursor: pointer;
            border: none;
            display: inline-block;
            text-align: center;
            margin: 0;
            min-width: 64px;
            line-height: 36px;
            border-radius: 25px;
            font-weight: 550;
            line-height: normal;
            font-family: Roboto, "Roboto", sans-serif !important;

            &.activo {
                color: #ffffff;
                background-color: #2197ae;
            }

            @media screen and (max-width: 600px) {
                width: 48%;
            }
        }
    }

    form {
        .form-group {
            margin-bottom: 6px;

            .input-campo-inicio {
                width: 100%;
            }

            .input-campo-home {
                width: 25%;

                input {
                    color: $numero_captcha_input !important;
                    font-size: 22px !important;
                    font-weight: bold !important;
                }

                @media screen and (max-width: 776px) {
                    width: 70%
                }
            }

            .capcha-box {
                //width: 143px;
                width: calc(100% - 120px);
                float: left;
                text-align: left;
                margin-right: 16px;

                .capcha {
                    width: 100%;
                }

                @media screen and (max-width: 412px) {
                    //width: 122px;
                    //width: calc(100% - 120px);
                    margin-right: 12px;
                }
            }

            .imagen-capcha {
                float: left;
                height: 56.56px;
                padding: 12px 0;

                .captcha-img {
                    height: 28px;
                    width: 74px;
                    float: right;
                    border-radius: 4px;
                    border: solid 1px #e0e0e0;
                }

                .recarga-captcha  {
                    height: 24px;
                    width: 24px;
                    cursor: pointer;
                    float: right;
                    margin-left: 6px;
                    margin-top: 2px;
                    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z'/%3E%3Cmask id='3965kretma' width='16' height='16' x='4' y='4' maskUnits='userSpaceOnUse'%3E%3Cpath fill='%23fff' d='M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z'/%3E%3C/mask%3E%3Cg mask='url(%233965kretma)'%3E%3Cpath fill='%232197AE' d='M4 2H23V20H4z'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat;                }

                @media screen and (max-width: 412px) {
                    width: 106px;
                    float: right;
                }

            }

            .tooltip-hogar {
                cursor: pointer;
                position: relative;
                float: right;
                top: -44px;
                width: 24px;
                height: 24px;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' viewBox='0 0 12 12'%3E%3Crect width='12' height='12' fill='%232596A7' rx='6'/%3E%3Cpath fill='%23fff' d='M6.625 9H5.492V4.773h1.133V9zm-1.2-5.32c0-.17.057-.309.169-.418.114-.11.27-.164.465-.164.192 0 .346.054.46.164.115.11.172.248.172.418 0 .172-.058.312-.175.422-.115.109-.267.164-.457.164s-.344-.055-.461-.164c-.115-.11-.172-.25-.172-.422z'/%3E%3C/svg%3E%0A") no-repeat;
                background-size: 83%;
            }

            .cambioNumero {
                font-size: 12px;
                color: #2197ae;
                font-weight: 500;
                cursor: pointer;
                float: right;
                margin-top: 17px;
                height: 18px;
                margin-right: 64.5%;

                &.infoStyle {
                    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' viewBox='0 0 12 12'%3E%3Crect width='12' height='12' fill='%232596A7' rx='6'/%3E%3Cpath fill='%23fff' d='M6.625 9H5.492V4.773h1.133V9zm-1.2-5.32c0-.17.057-.309.169-.418.114-.11.27-.164.465-.164.192 0 .346.054.46.164.115.11.172.248.172.418 0 .172-.058.312-.175.422-.115.109-.267.164-.457.164s-.344-.055-.461-.164c-.115-.11-.172-.25-.172-.422z'/%3E%3C/svg%3E%0A") no-repeat;
                    background-size: 83%;
                    width: 24px;
                    height: 24px;
                }

                @media screen and (max-width: 776px) {
                    margin-right: 0px;
                }
            }
        }

        .boton-loading-box {
            width: 100%;
            text-align: center;
            display: inline-block;
            padding-top: 22.5px;

            .buton-ingresar {
                font-family: Roboto, "Roboto", sans-serif !important;
                width: 100%;
                color: #ffffff;
                background-color: #2197ae;
                font-size: 14px;
                padding: 4px;
                text-decoration: none;
                cursor: pointer;
                border: none;
                display: inline-block;
                margin: 0;
                min-width: 64px;
                line-height: 36px;
                border-radius: 25px;
                max-width: 256px;
                font-weight: 550;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                height: 40px;

                &:disabled {
                    background-color: #e3e3e3;
                    color: rgba(0, 0, 0, 0.26);
                    cursor: default;
                }

                @media screen and (max-width: 600px) {
                    width: 100%;
                }
            }

            .loading {
                margin-top: 20px;

                .loader {
                    border: 7px solid #f3f3f3;
                    border-radius: 50%;
                    border-top: 7px solid #abafb0;
                    border-bottom: 7px solid #abafb0;
                    width: 30px;
                    height: 30px;
                    -webkit-animation: spin 2s linear infinite;
                    animation: spin 2s linear infinite;
                    display: inline-block;
                }
            }

            &.inicio {
                text-align: center;
            }
            &.home {
                text-align: left;
            }
        }
    }

    .error-input {
        font-size: 12px;
        float: left;
        margin-top: -12px;

        .error-icon {
            font-size: 16px;
            vertical-align: bottom;
            height: 17px;
            width: 16px;
        }
    }
}

.modalCompleto {
    z-index: 1000;
    background-color: rgba(33, 33, 33, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    display: block;

    .modal-hogar {
        width: 238px;
        padding: 20px 32px 20px 32px;
        background-color: #ffffff;
        top: calc(50% - 200px);
        left: calc(50% - 119px);
        position: absolute;
        border-radius: 12px;
        text-align: center;

        &.inicio {
            width: 290px;
            top: calc(50% - 250px);
            left: calc(50% - 145px);
        }

        .text-modal {
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: left;
            color: #212121;
            margin: 0 0 12px 0;
        }

        .imagen-modal {
            height: 96px;
            width: 176px;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='176' height='96' fill='none' viewBox='0 0 176 96'%3E%3Crect width='176' height='95' y='.343' fill='%23F6F8FA' rx='4'/%3E%3Cpath fill='%23595959' d='M61.914 48.359c0-.443-.156-.781-.469-1.016-.312-.24-.875-.49-1.687-.75-.813-.265-1.456-.526-1.93-.78-1.292-.699-1.937-1.639-1.937-2.821 0-.615.172-1.162.515-1.64.35-.485.847-.863 1.492-1.134.651-.27 1.38-.406 2.188-.406.812 0 1.536.149 2.172.445.635.292 1.127.706 1.476 1.243.354.536.532 1.145.532 1.828h-2.344c0-.521-.164-.925-.492-1.211-.328-.292-.79-.438-1.383-.438-.573 0-1.018.123-1.336.367-.318.24-.477.558-.477.954 0 .37.185.68.555.93.375.25.925.484 1.648.702 1.334.401 2.305.899 2.915 1.493.609.593.914 1.333.914 2.218 0 .985-.373 1.758-1.118 2.32-.744.558-1.747.837-3.007.837-.875 0-1.672-.16-2.391-.477-.719-.323-1.268-.763-1.648-1.32-.375-.558-.563-1.203-.563-1.938h2.352c0 1.255.75 1.883 2.25 1.883.557 0 .992-.112 1.304-.336.313-.23.47-.547.47-.953zm5.09 3.96h-1.68l4.188-12.35h1.68l-4.188 12.35zm10.663-6.57l.657-5.78h6.375v1.882h-4.524l-.281 2.445c.536-.286 1.107-.43 1.71-.43 1.084 0 1.933.337 2.548 1.009.614.671.922 1.612.922 2.82 0 .734-.157 1.393-.47 1.976-.306.579-.75 1.03-1.327 1.352-.578.318-1.26.477-2.047.477-.688 0-1.326-.138-1.914-.414-.589-.282-1.055-.675-1.399-1.18-.338-.505-.518-1.08-.539-1.727h2.235c.046.474.21.844.492 1.11.286.26.659.39 1.117.39.51 0 .904-.182 1.18-.547.276-.37.414-.89.414-1.562 0-.646-.16-1.14-.477-1.484-.317-.344-.768-.516-1.351-.516-.537 0-.972.14-1.305.422l-.219.203-1.797-.445zm14.715 1.047c-.589.579-1.276.868-2.063.868-1.005 0-1.81-.344-2.414-1.032-.604-.692-.906-1.625-.906-2.796 0-.745.162-1.428.485-2.047.328-.625.783-1.11 1.367-1.453.583-.35 1.24-.524 1.969-.524.75 0 1.416.188 2 .563.583.375 1.036.914 1.359 1.617.323.703.487 1.508.492 2.414v.836c0 1.896-.471 3.385-1.414 4.469-.943 1.083-2.279 1.661-4.008 1.734l-.554.008V49.57l.5-.008c1.963-.088 3.026-1.01 3.187-2.766zm-1.508-.859c.365 0 .677-.094.938-.281.265-.188.466-.414.601-.68v-.93c0-.765-.146-1.359-.437-1.78-.292-.423-.683-.634-1.172-.634-.453 0-.826.209-1.117.625-.292.412-.438.93-.438 1.555 0 .62.14 1.13.422 1.531.286.396.688.594 1.203.594zm6.207 4.297c0-.36.12-.651.36-.875.244-.224.549-.336.913-.336.37 0 .675.112.915.336.244.224.367.516.367.875 0 .354-.12.643-.36.867-.24.219-.547.328-.922.328-.37 0-.674-.11-.914-.328-.24-.224-.359-.513-.359-.867zm10.308-3.438c-.588.579-1.276.868-2.062.868-1.005 0-1.81-.344-2.414-1.032-.604-.692-.906-1.625-.906-2.796 0-.745.161-1.428.484-2.047.328-.625.784-1.11 1.367-1.453.583-.35 1.24-.524 1.969-.524.75 0 1.417.188 2 .563.583.375 1.036.914 1.359 1.617.323.703.487 1.508.492 2.414v.836c0 1.896-.471 3.385-1.414 4.469-.942 1.083-2.278 1.661-4.007 1.734l-.555.008V49.57l.5-.008c1.963-.088 3.026-1.01 3.187-2.766zm-1.507-.859c.364 0 .677-.094.937-.281.266-.188.466-.414.602-.68v-.93c0-.765-.146-1.359-.438-1.78-.292-.423-.682-.634-1.172-.634-.453 0-.825.209-1.117.625-.292.412-.437.93-.437 1.555 0 .62.14 1.13.421 1.531.287.396.688.594 1.204.594zm13.652.703c0 1.573-.326 2.776-.977 3.61-.651.833-1.604 1.25-2.859 1.25-1.24 0-2.188-.41-2.844-1.227-.656-.818-.992-1.99-1.008-3.516v-2.093c0-1.589.328-2.795.985-3.618.661-.822 1.612-1.234 2.851-1.234 1.24 0 2.188.409 2.844 1.227.656.812.992 1.981 1.008 3.507v2.094zm-2.258-2.297c0-.942-.13-1.627-.391-2.054-.255-.433-.656-.649-1.203-.649-.531 0-.924.206-1.18.617-.25.407-.382 1.045-.398 1.914v2.766c0 .927.125 1.617.375 2.07.255.448.661.672 1.219.672.552 0 .95-.216 1.195-.648.245-.432.372-1.094.383-1.985v-2.703zM62.986 11.42H60.81v5.923h-1.465v-5.922h-2.149v-1.187h5.791v1.187zm.094 3.233c0-.524.1-.991.303-1.402.201-.41.491-.727.869-.952.38-.224.822-.336 1.323-.336.713 0 1.294.218 1.743.654.453.436.705 1.028.757 1.777l.01.361c0 .811-.226 1.462-.679 1.954-.452.488-1.06.732-1.821.732-.762 0-1.37-.244-1.826-.732-.453-.489-.68-1.153-.68-1.993v-.063zm1.411.102c0 .502.094.886.283 1.153.189.263.46.395.81.395.343 0 .61-.13.801-.39.193-.264.289-.684.289-1.26 0-.492-.096-.873-.289-1.143-.192-.27-.462-.405-.81-.405-.345 0-.612.135-.8.405-.19.267-.284.682-.284 1.245zm6.734-3.994v1.3h.904v1.034h-.904v2.637c0 .195.038.335.113.42.074.085.218.127.43.127.155 0 .294-.012.414-.034v1.069c-.276.085-.561.127-.854.127-.99 0-1.494-.5-1.514-1.499v-2.847h-.771V12.06h.771v-1.299h1.411zm5.333 6.582c-.065-.127-.112-.285-.142-.473-.341.38-.786.571-1.333.571-.517 0-.947-.15-1.289-.45-.338-.299-.507-.676-.507-1.132 0-.56.206-.99.62-1.29.416-.299 1.017-.45 1.801-.453h.65v-.303c0-.244-.064-.44-.19-.586-.124-.146-.321-.22-.592-.22-.237 0-.424.057-.561.171-.133.114-.2.27-.2.469h-1.411c0-.306.094-.59.283-.85.189-.26.456-.463.8-.61.346-.15.733-.224 1.163-.224.65 0 1.167.164 1.548.493.384.325.576.784.576 1.377v2.29c.003.5.073.88.21 1.137v.083h-1.426zm-1.167-.981c.208 0 .4-.046.576-.137.176-.094.306-.22.39-.376v-.908h-.527c-.706 0-1.082.244-1.127.732l-.005.083c0 .176.062.321.185.435.124.114.293.17.508.17zm5.538.981h-1.416v-7.5h1.416v7.5zm7.545-2.602h-1.167v2.602h-1.465v-7.11h2.642c.84 0 1.488.188 1.943.563.456.374.684.903.684 1.586 0 .485-.106.89-.317 1.216-.209.322-.526.58-.953.772l1.539 2.905v.068h-1.573l-1.333-2.602zm-1.167-1.187h1.182c.368 0 .653-.093.854-.278.202-.189.303-.448.303-.776 0-.336-.096-.6-.288-.791-.189-.192-.48-.288-.874-.288h-1.177v2.133zm7.843 3.887c-.775 0-1.406-.238-1.895-.713-.485-.475-.727-1.108-.727-1.9v-.136c0-.53.102-1.004.307-1.42.206-.42.495-.743.87-.968.377-.228.807-.341 1.289-.341.722 0 1.29.227 1.704.683.416.456.625 1.102.625 1.938v.577h-3.364c.045.345.182.622.41.83.23.208.522.312.874.312.543 0 .968-.197 1.274-.59l.693.776c-.211.3-.498.534-.859.703-.361.166-.762.249-1.201.249zm-.161-4.336c-.28 0-.508.094-.684.283-.172.189-.283.46-.332.81h1.963v-.112c-.007-.312-.091-.553-.254-.722-.163-.173-.394-.259-.693-.259zm5.918 3.198c.261 0 .472-.071.635-.215.163-.143.248-.333.254-.57h1.323c-.003.357-.101.686-.293.985-.192.297-.455.528-.791.694-.332.163-.699.244-1.103.244-.755 0-1.351-.24-1.787-.718-.436-.482-.654-1.146-.654-1.992v-.093c0-.814.216-1.463.649-1.948.433-.485 1.027-.727 1.782-.727.661 0 1.19.188 1.587.566.4.374.604.874.61 1.499h-1.323c-.006-.274-.091-.495-.254-.664-.163-.173-.377-.259-.644-.259-.329 0-.578.12-.747.361-.166.238-.25.625-.25 1.163v.146c0 .544.084.934.25 1.172.166.238.418.356.756.356zm5.089 1.04h-1.416V12.06h1.416v5.283zm-1.499-6.65c0-.212.07-.386.21-.522.143-.137.337-.206.581-.206.241 0 .433.069.576.206.144.136.215.31.215.522 0 .215-.073.39-.22.527-.143.137-.333.205-.571.205-.238 0-.43-.068-.576-.205-.143-.136-.215-.312-.215-.527zm8.009 4.058c0 .846-.181 1.507-.542 1.982-.362.472-.866.708-1.514.708-.573 0-1.03-.22-1.372-.66l-.064.562h-1.269v-7.5h1.411v2.69c.326-.38.754-.57 1.284-.57.645 0 1.149.237 1.514.712.368.472.552 1.138.552 1.997v.079zm-1.411-.103c0-.534-.085-.923-.254-1.167-.17-.247-.422-.371-.757-.371-.449 0-.759.184-.928.552v2.085c.173.37.485.556.938.556.455 0 .755-.224.898-.674.068-.214.103-.541.103-.981zm2.647.005c0-.524.101-.991.303-1.402.201-.41.491-.727.869-.952.381-.224.822-.336 1.323-.336.713 0 1.294.218 1.743.654.453.436.705 1.028.757 1.777l.01.361c0 .811-.227 1.462-.679 1.954-.453.488-1.06.732-1.821.732-.762 0-1.371-.244-1.826-.732-.453-.489-.679-1.153-.679-1.993v-.063zm1.411.102c0 .502.094.886.283 1.153.189.263.459.395.811.395.341 0 .608-.13.8-.39.193-.264.289-.684.289-1.26 0-.492-.096-.873-.289-1.143-.192-.27-.462-.405-.81-.405-.345 0-.612.135-.801.405-.189.267-.283.682-.283 1.245zM9.763 65.56v2.783h-.938v-7.11h2.622c.778 0 1.387.2 1.826.597.443.397.665.922.665 1.577 0 .69-.217 1.222-.65 1.597-.43.37-1.046.556-1.85.556H9.762zm0-.767h1.684c.502 0 .886-.117 1.153-.351.267-.238.4-.58.4-1.025 0-.424-.133-.762-.4-1.016s-.633-.386-1.099-.396H9.763v2.788zm9.014 3.55c-.052-.104-.094-.29-.127-.556-.42.436-.921.654-1.504.654-.52 0-.949-.147-1.284-.44-.332-.296-.498-.67-.498-1.123 0-.55.208-.976.625-1.279.42-.306 1.01-.459 1.768-.459h.878v-.415c0-.316-.094-.566-.283-.752-.189-.189-.467-.283-.835-.283-.322 0-.592.081-.81.244-.218.163-.327.36-.327.591h-.908c0-.264.092-.518.278-.762.189-.247.442-.442.762-.586.322-.143.675-.215 1.06-.215.608 0 1.085.153 1.43.46.345.302.524.72.537 1.254v2.432c0 .485.062.87.185 1.157v.078h-.947zm-1.499-.688c.283 0 .552-.073.806-.22.254-.146.438-.337.552-.571V65.78h-.709c-1.106 0-1.66.324-1.66.971 0 .284.095.505.284.665.188.16.43.239.727.239zm4.044-1.997c0-.824.19-1.478.571-1.963.381-.488.886-.733 1.514-.733.644 0 1.147.228 1.509.684l.043-.586h.826v5.156c0 .684-.204 1.223-.61 1.617-.404.394-.948.59-1.631.59-.381 0-.754-.081-1.119-.244-.364-.163-.643-.386-.835-.669l.47-.542c.387.479.86.718 1.42.718.44 0 .781-.124 1.025-.371.248-.247.372-.596.372-1.045v-.454c-.362.417-.855.625-1.48.625-.618 0-1.12-.249-1.504-.747-.38-.498-.571-1.177-.571-2.036zm.908.102c0 .596.122 1.065.366 1.407.244.338.586.507 1.026.507.57 0 .988-.258 1.255-.776v-2.412c-.277-.505-.692-.757-1.246-.757-.439 0-.782.171-1.03.513-.247.342-.371.848-.371 1.518zm8.765 2.583c-.052-.104-.094-.29-.127-.556-.42.436-.92.654-1.503.654-.521 0-.95-.147-1.285-.44-.332-.296-.498-.67-.498-1.123 0-.55.209-.976.625-1.279.42-.306 1.01-.459 1.768-.459h.879v-.415c0-.316-.095-.566-.283-.752-.19-.189-.468-.283-.835-.283-.323 0-.593.081-.81.244-.219.163-.328.36-.328.591h-.908c0-.264.093-.518.278-.762.189-.247.443-.442.762-.586.322-.143.675-.215 1.06-.215.608 0 1.085.153 1.43.46.345.302.524.72.537 1.254v2.432c0 .485.062.87.186 1.157v.078h-.948zm-1.499-.688c.284 0 .552-.073.806-.22.254-.146.438-.337.552-.571V65.78h-.708c-1.107 0-1.66.324-1.66.971 0 .284.094.505.283.665.189.16.431.239.727.239zm10.583.688c-.052-.104-.094-.29-.127-.556-.42.436-.921.654-1.504.654-.52 0-.949-.147-1.284-.44-.332-.296-.498-.67-.498-1.123 0-.55.208-.976.625-1.279.42-.306 1.009-.459 1.768-.459h.878v-.415c0-.316-.094-.566-.283-.752-.189-.189-.467-.283-.835-.283-.322 0-.592.081-.81.244-.218.163-.327.36-.327.591h-.909c0-.264.093-.518.279-.762.188-.247.442-.442.761-.586.323-.143.676-.215 1.06-.215.609 0 1.086.153 1.43.46.346.302.525.72.538 1.254v2.432c0 .485.062.87.185 1.157v.078h-.947zm-1.499-.688c.283 0 .552-.073.806-.22.254-.146.438-.337.551-.571V65.78h-.708c-1.106 0-1.66.324-1.66.971 0 .284.095.505.283.665.19.16.432.239.728.239zm5.113-4.595l.03.664c.403-.508.93-.761 1.581-.761 1.117 0 1.68.63 1.69 1.89v3.49h-.904v-3.496c-.003-.38-.09-.662-.263-.844-.17-.183-.435-.274-.796-.274-.293 0-.55.078-.771.234-.222.157-.394.362-.518.616v3.764h-.903V63.06h.854zm6.47-1.28v1.28h.987v.698h-.986v3.277c0 .211.044.37.131.478.088.104.238.156.45.156.104 0 .247-.019.43-.058v.732c-.238.065-.47.098-.694.098-.404 0-.708-.122-.913-.366-.205-.244-.308-.591-.308-1.04v-3.277h-.962v-.698h.962v-1.28h.904zm4.82 6.661c-.715 0-1.298-.234-1.747-.703-.45-.472-.674-1.102-.674-1.89v-.166c0-.524.1-.991.298-1.401.201-.414.481-.736.84-.967.36-.234.751-.352 1.171-.352.687 0 1.221.227 1.602.68.38.452.571 1.1.571 1.943v.376h-3.579c.013.52.164.942.454 1.264.293.32.664.479 1.114.479.319 0 .589-.065.81-.196.221-.13.415-.302.581-.517l.552.43c-.443.68-1.107 1.02-1.992 1.02zm-.112-4.736c-.364 0-.67.133-.918.4-.247.264-.4.635-.459 1.113h2.647v-.068c-.026-.459-.15-.814-.371-1.065-.222-.253-.521-.38-.899-.38zm6.881 3.237c0-.244-.093-.433-.278-.566-.183-.137-.503-.254-.962-.352-.456-.098-.819-.215-1.09-.352-.266-.136-.465-.3-.595-.488-.127-.189-.19-.413-.19-.674 0-.433.182-.799.547-1.098.367-.3.836-.45 1.406-.45.599 0 1.084.155 1.455.464.374.31.561.705.561 1.187h-.908c0-.248-.105-.46-.317-.64-.208-.179-.472-.268-.791-.268-.329 0-.586.071-.772.215-.185.143-.278.33-.278.561 0 .218.086.383.259.493.172.11.483.217.932.318.453.1.82.22 1.1.36.28.14.486.31.62.509.136.195.204.434.204.718 0 .471-.188.85-.566 1.137-.378.283-.868.425-1.47.425-.423 0-.797-.075-1.123-.225-.325-.15-.58-.358-.767-.625-.182-.27-.273-.561-.273-.874h.903c.017.303.137.544.362.723.228.176.527.264.898.264.342 0 .615-.069.82-.205.209-.14.313-.326.313-.557zm5.504-1.284c0-.81.192-1.462.577-1.953.384-.495.887-.742 1.508-.742.619 0 1.109.211 1.47.634v-2.754h.903v7.5h-.83l-.044-.566c-.36.443-.864.664-1.508.664-.612 0-1.112-.25-1.5-.752-.383-.501-.576-1.156-.576-1.963v-.068zm.904.102c0 .6.124 1.068.37 1.407.248.338.59.507 1.026.507.573 0 .992-.257 1.255-.771v-2.427c-.27-.498-.685-.747-1.245-.747-.443 0-.788.171-1.035.513-.248.342-.371.848-.371 1.518zm7.735 2.681c-.716 0-1.299-.234-1.748-.703-.45-.472-.674-1.102-.674-1.89v-.166c0-.524.1-.991.298-1.401.202-.414.482-.736.84-.967.361-.234.752-.352 1.172-.352.686 0 1.22.227 1.601.68.381.452.572 1.1.572 1.943v.376h-3.58c.013.52.165.942.454 1.264.293.32.665.479 1.114.479.319 0 .589-.065.81-.196.222-.13.415-.302.581-.517l.552.43c-.443.68-1.107 1.02-1.992 1.02zm-.112-4.736c-.365 0-.671.133-.918.4-.248.264-.4.635-.46 1.113h2.647v-.068c-.026-.459-.15-.814-.371-1.065-.221-.253-.52-.38-.898-.38zm10.094 4.638h-1.411v-5.44l-1.685.523V62.28l2.944-1.055h.152v7.12zm3.106-3.496l.41-3.613h3.985v1.177H90.55l-.175 1.528c.335-.179.692-.269 1.07-.269.676 0 1.207.21 1.59.63.385.42.577 1.008.577 1.763 0 .459-.098.87-.293 1.235-.192.362-.469.643-.83.845-.361.199-.788.298-1.28.298-.429 0-.828-.086-1.196-.259-.367-.176-.659-.421-.874-.737-.211-.316-.323-.676-.337-1.08H90.2c.03.297.132.528.308.694.179.163.411.244.698.244.319 0 .565-.114.737-.341.173-.232.259-.557.259-.977 0-.404-.1-.713-.298-.928-.199-.215-.48-.322-.845-.322-.335 0-.607.088-.815.264l-.137.127-1.123-.279zm9.69 4.107h-1.05l2.617-7.72h1.049l-2.617 7.72zm8.956-7.72l1.826 5.156 1.816-5.156h1.924v7.11h-1.47V66.4l.147-3.355-1.919 5.298h-1.006l-1.914-5.293.147 3.35v1.943h-1.465v-7.11h1.914zm11.529 5.645h-2.569l-.488 1.464h-1.557l2.646-7.11h1.357l2.662 7.11h-1.558l-.493-1.465zm-2.173-1.187h1.777l-.893-2.661-.884 2.661zm7.188-1.255l1.48-3.203h1.601l-2.334 4.531v2.578h-1.489v-2.578l-2.334-4.531h1.607l1.469 3.203zm7.736 4.517h-1.05l2.618-7.72h1.049l-2.617 7.72zm11.764-.61H138.8v-.968l2.3-2.45c.316-.346.549-.647.698-.904.153-.257.23-.501.23-.732 0-.316-.08-.563-.239-.743-.16-.182-.388-.273-.684-.273-.319 0-.571.11-.757.332-.182.218-.273.506-.273.864h-1.416c0-.433.102-.828.307-1.186.209-.358.502-.638.879-.84.378-.205.806-.308 1.284-.308.733 0 1.301.176 1.705.528.406.351.61.848.61 1.489 0 .352-.091.71-.274 1.074-.182.365-.494.79-.937 1.274l-1.616 1.705h3.056v1.137zm6.237-2.94c0 .983-.204 1.735-.611 2.256-.407.52-1.002.781-1.787.781-.775 0-1.367-.256-1.777-.767-.41-.51-.62-1.243-.63-2.197v-1.309c0-.992.205-1.746.615-2.26.413-.514 1.008-.772 1.782-.772.775 0 1.367.256 1.778.767.41.508.62 1.239.63 2.192v1.309zm-1.412-1.436c0-.589-.081-1.017-.244-1.284-.159-.27-.41-.405-.752-.405-.332 0-.578.128-.737.386-.156.254-.239.652-.249 1.196v1.728c0 .58.078 1.011.234 1.294.16.28.414.42.762.42.345 0 .594-.135.747-.405.153-.27.233-.684.239-1.24v-1.69zm7.823 4.375h-4.873v-.967l2.3-2.45c.316-.346.549-.647.698-.904.153-.257.23-.501.23-.732 0-.316-.08-.563-.239-.743-.16-.182-.388-.273-.684-.273-.319 0-.571.11-.757.332-.182.218-.273.506-.273.864h-1.416c0-.433.102-.828.307-1.186.209-.358.502-.638.879-.84.378-.205.806-.308 1.284-.308.733 0 1.301.176 1.705.528.406.351.61.848.61 1.489 0 .352-.091.71-.274 1.074-.182.365-.494.79-.937 1.274l-1.616 1.705h3.056v1.137zm6.237-2.94c0 .984-.204 1.736-.611 2.257-.407.52-1.002.781-1.787.781-.775 0-1.367-.256-1.777-.767-.41-.51-.62-1.243-.63-2.197v-1.309c0-.992.205-1.746.615-2.26.413-.514 1.008-.772 1.782-.772.775 0 1.367.256 1.778.767.41.508.62 1.239.63 2.192v1.309zm-1.412-1.435c0-.589-.081-1.017-.244-1.284-.159-.27-.41-.405-.752-.405-.332 0-.578.128-.737.386-.156.254-.239.652-.249 1.196v1.728c0 .58.078 1.011.234 1.294.16.28.414.42.762.42.345 0 .594-.135.747-.405.153-.27.233-.684.239-1.24v-1.69z'/%3E%3Cpath fill='%23DA272C' d='M14.055 82.088c-.088.751-.367 1.333-.835 1.743-.466.406-1.086.61-1.86.61-.84 0-1.514-.301-2.022-.903-.505-.603-.757-1.408-.757-2.417v-.684c0-.66.117-1.242.352-1.743.237-.501.573-.886 1.005-1.152.433-.27.935-.406 1.504-.406.756 0 1.361.212 1.817.635.455.42.72 1.003.796 1.748h-.943c-.081-.566-.258-.977-.532-1.23-.27-.254-.65-.381-1.138-.381-.599 0-1.069.221-1.41.664-.34.442-.509 1.072-.509 1.89v.688c0 .771.162 1.385.484 1.84.322.457.773.684 1.352.684.521 0 .92-.117 1.197-.351.28-.238.465-.65.556-1.235h.943zm1.485-.435c0-.518.1-.983.303-1.397.205-.413.488-.732.85-.957.364-.224.779-.337 1.244-.337.72 0 1.3.25 1.743.748.446.498.67 1.16.67 1.987v.063c0 .515-.1.977-.299 1.387-.195.407-.476.724-.844.952-.365.228-.785.342-1.26.342-.716 0-1.297-.249-1.743-.747-.443-.498-.664-1.157-.664-1.978v-.063zm.908.107c0 .586.135 1.057.405 1.411.274.355.638.533 1.094.533.459 0 .824-.18 1.094-.537.27-.362.405-.866.405-1.514 0-.58-.138-1.048-.415-1.406-.273-.362-.638-.542-1.094-.542-.446 0-.805.177-1.079.532-.273.355-.41.863-.41 1.523zm1.9-4.917h1.093l-1.308 1.436h-.728l.942-1.436zm3.496 4.815c0-.81.192-1.462.576-1.953.385-.495.887-.742 1.51-.742.618 0 1.108.211 1.469.634v-2.754h.903v7.5h-.83l-.044-.566c-.361.443-.864.664-1.509.664-.611 0-1.111-.25-1.498-.752-.385-.501-.577-1.156-.577-1.963v-.068zm.904.102c0 .6.123 1.068.37 1.407.248.338.59.507 1.026.507.573 0 .991-.257 1.255-.771v-2.427c-.27-.498-.685-.747-1.245-.747-.443 0-.788.171-1.035.513-.248.342-.371.848-.371 1.518zm6.524 2.583h-.903V79.06h.903v5.283zm-.977-6.684c0-.147.044-.27.132-.371.091-.101.225-.152.4-.152.176 0 .31.05.4.152.092.1.138.224.138.37 0 .147-.046.27-.137.367-.091.098-.225.146-.4.146-.176 0-.31-.048-.4-.146-.089-.098-.133-.22-.133-.366zm2.794 3.999c0-.824.19-1.478.571-1.963.381-.488.886-.732 1.514-.732.645 0 1.147.227 1.509.683l.044-.586h.825v5.156c0 .684-.204 1.223-.61 1.617-.404.394-.948.59-1.631.59-.381 0-.754-.081-1.118-.244-.365-.163-.643-.386-.835-.669l.468-.542c.388.479.861.718 1.421.718.44 0 .781-.124 1.026-.371.247-.247.37-.596.37-1.045v-.454c-.36.417-.854.625-1.479.625-.618 0-1.12-.249-1.504-.747-.38-.498-.571-1.177-.571-2.036zm.908.102c0 .596.122 1.065.366 1.407.245.338.586.507 1.026.507.57 0 .988-.258 1.255-.776v-2.412c-.277-.505-.692-.757-1.245-.757-.44 0-.783.171-1.03.513-.248.342-.372.848-.372 1.518zm5.265-.107c0-.518.1-.983.302-1.397.205-.413.489-.732.85-.957.365-.224.78-.337 1.245-.337.72 0 1.3.25 1.743.748.446.498.67 1.16.67 1.987v.063c0 .515-.1.977-.299 1.387-.195.407-.477.724-.844.952-.365.228-.785.342-1.26.342-.716 0-1.297-.249-1.743-.747-.443-.498-.664-1.157-.664-1.978v-.063zm.908.107c0 .586.135 1.057.405 1.411.273.355.638.533 1.094.533.459 0 .823-.18 1.094-.537.27-.362.405-.866.405-1.514 0-.58-.139-1.048-.415-1.406-.274-.362-.638-.542-1.094-.542-.446 0-.806.177-1.079.532-.273.355-.41.863-.41 1.523zm8.458-.102c0-.81.192-1.462.577-1.953.384-.495.887-.742 1.508-.742.619 0 1.109.211 1.47.634v-2.754h.903v7.5h-.83l-.044-.566c-.361.443-.864.664-1.508.664-.612 0-1.112-.25-1.5-.752-.384-.501-.576-1.156-.576-1.963v-.068zm.904.102c0 .6.123 1.068.37 1.407.248.338.59.507 1.026.507.573 0 .991-.257 1.255-.771v-2.427c-.27-.498-.685-.747-1.245-.747-.443 0-.788.171-1.035.513-.248.342-.371.848-.371 1.518zm7.735 2.681c-.716 0-1.299-.234-1.748-.703-.45-.472-.674-1.102-.674-1.89v-.166c0-.524.1-.991.298-1.401.202-.414.482-.736.84-.967.361-.234.752-.351 1.172-.351.686 0 1.22.226 1.601.678.381.453.571 1.1.571 1.944v.376h-3.579c.013.52.165.942.454 1.264.293.32.665.479 1.114.479.319 0 .589-.065.81-.196.222-.13.415-.302.581-.517l.552.43c-.443.68-1.107 1.02-1.992 1.02zm-.113-4.736c-.364 0-.67.133-.917.4-.248.264-.4.635-.46 1.113h2.647v-.068c-.026-.459-.15-.814-.371-1.065-.221-.253-.52-.38-.898-.38zm11.33 2.055c0 .804-.184 1.452-.552 1.944-.367.491-.865.737-1.494.737-.641 0-1.146-.204-1.513-.61v2.544h-.904V79.06h.825l.044.586c.368-.456.88-.683 1.534-.683.634 0 1.136.239 1.504.717.37.479.556 1.144.556 1.997v.083zm-.903-.102c0-.596-.127-1.066-.381-1.411s-.602-.518-1.045-.518c-.547 0-.957.243-1.23.728v2.524c.27.482.683.723 1.24.723.433 0 .776-.171 1.03-.513.257-.345.386-.856.386-1.533zm5.9 2.685c-.053-.104-.095-.29-.128-.556-.42.436-.921.654-1.504.654-.52 0-.949-.147-1.284-.44-.332-.296-.498-.67-.498-1.123 0-.55.208-.976.625-1.279.42-.306 1.01-.459 1.768-.459h.879v-.415c0-.316-.095-.566-.284-.752-.189-.189-.467-.283-.835-.283-.322 0-.592.081-.81.244-.218.163-.327.36-.327.591h-.909c0-.264.093-.518.279-.762.188-.247.442-.443.761-.586.323-.143.676-.215 1.06-.215.609 0 1.086.153 1.43.46.346.302.525.72.538 1.254v2.432c0 .485.062.87.185 1.157v.078h-.947zm-1.5-.688c.283 0 .552-.073.806-.22.254-.146.438-.337.551-.571V81.78h-.707c-1.107 0-1.66.324-1.66.971 0 .284.094.505.282.665.19.16.432.239.728.239zm4.044-1.997c0-.824.19-1.478.571-1.963.38-.488.885-.732 1.514-.732.644 0 1.147.227 1.508.683l.044-.586h.826v5.156c0 .684-.204 1.223-.61 1.617-.404.394-.948.59-1.632.59-.38 0-.753-.081-1.118-.244-.364-.163-.643-.386-.835-.669l.47-.542c.386.479.86.718 1.42.718.44 0 .781-.124 1.025-.371.248-.247.371-.596.371-1.045v-.454c-.36.417-.854.625-1.479.625-.618 0-1.12-.249-1.504-.747-.38-.498-.571-1.177-.571-2.036zm.908.102c0 .596.122 1.065.366 1.407.244.338.586.507 1.026.507.57 0 .987-.258 1.254-.776v-2.412c-.276-.505-.691-.757-1.245-.757-.44 0-.782.171-1.03.513-.247.342-.371.848-.371 1.518zm5.264-.107c0-.518.101-.983.303-1.397.205-.413.488-.732.85-.957.364-.224.78-.337 1.245-.337.72 0 1.3.25 1.743.748.446.498.669 1.16.669 1.987v.063c0 .515-.1.977-.298 1.387-.195.407-.477.724-.845.952-.364.228-.784.342-1.26.342-.716 0-1.296-.249-1.742-.747-.443-.498-.665-1.157-.665-1.978v-.063zm.909.107c0 .586.135 1.057.405 1.411.273.355.638.533 1.094.533.459 0 .823-.18 1.093-.537.27-.362.406-.866.406-1.514 0-.58-.139-1.048-.415-1.406-.274-.362-.638-.542-1.094-.542-.446 0-.806.177-1.08.532-.273.355-.41.863-.41 1.523zm11.139-1.801l1.704-2.725h1.103l-2.246 3.525 2.3 3.584h-1.113l-1.748-2.773-1.758 2.773h-1.108l2.304-3.584-2.25-3.525h1.098l1.714 2.725zm6.851 0l1.704-2.725h1.104l-2.246 3.525 2.3 3.584h-1.114l-1.748-2.773-1.758 2.773H96.23l2.305-3.584-2.251-3.525h1.098l1.714 2.725zm6.852 0l1.704-2.725h1.103l-2.246 3.525 2.3 3.584h-1.113l-1.748-2.773-1.758 2.773h-1.109l2.305-3.584-2.251-3.525h1.099l1.714 2.725zm6.851 0l1.704-2.725h1.104l-2.247 3.525 2.3 3.584h-1.113l-1.748-2.773-1.758 2.773h-1.108l2.304-3.584-2.251-3.525h1.099l1.714 2.725zm6.851 0l1.704-2.725h1.104l-2.246 3.525 2.3 3.584h-1.114l-1.748-2.773-1.758 2.773h-1.108l2.305-3.584-2.251-3.525h1.098l1.714 2.725zm6.852 0l1.704-2.725h1.103l-2.246 3.525 2.3 3.584h-1.113l-1.748-2.773-1.758 2.773h-1.109l2.305-3.584-2.251-3.525h1.099l1.714 2.725zm6.851 0l1.704-2.725h1.104l-2.247 3.525 2.3 3.584h-1.113l-1.748-2.773-1.758 2.773h-1.108l2.304-3.584-2.251-3.525h1.099l1.714 2.725zm6.851 0l1.704-2.725h1.104l-2.246 3.525 2.3 3.584h-1.114l-1.748-2.773-1.758 2.773h-1.108l2.305-3.584-2.251-3.525h1.098l1.714 2.725zm6.852 0l1.704-2.725h1.103l-2.246 3.525 2.3 3.584h-1.113l-1.748-2.773-1.758 2.773h-1.109l2.305-3.584-2.251-3.525h1.099l1.714 2.725z'/%3E%3Cpath stroke='%23D5D9DF' d='M16 27.843L160 27.843'/%3E%3C/svg%3E%0A") no-repeat;
            margin-bottom: 0px;
            display: inline-block;
        }

        .gray-texto {
            font-family: Roboto;
            font-size: 10px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #d8d8d8;
            margin: -8px 0 0 0;

            &.left {
                padding-left: 24px;
            }
        }

        .boton-modal {
            width: 128px;
            color: #ffffff;
            background-color: #2197ae;
            font-size: 14px;
            padding: 4px;
            text-decoration: none;
            cursor: pointer;
            border: none;
            display: inline-block;
            text-align: center;
            margin: 12px 0 0 0;
            min-width: 64px;
            line-height: 32px;
            border-radius: 25px;
        }
    }
}

@media screen and (max-width: 412px) {
    .numero-capcha-box {
        width: 272px;

        &.home{
            width:100%;
        }

        &.inicio {
            padding: 18px 16px 40px 16px;

            .movil-home-box {
                margin-bottom: 24px;
            }
        }
    }   
}
@media screen and (min-width: 413px) {
    .numero-capcha-box.home form .form-group .capcha-box{
        width: 142px;
    }   
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}